{% extends "base.html" %}

{% block body %}
<div class="vh-100 d-flex justify-content-center align-items-center bg-dark text-white bg-gradient">

  <div class="row ">
    <h1>Success page</h1>
    <form>

      <p>
      Notification send!
    </p>
    <p>
      Notification content:
      {{ notification }}
    </p>

      <div class="d-grid gap-2">
        <a class="btn btn-secondary" href="/search">Find notifications</a>
        <a class="btn btn-secondary" href="/">Add another</a>
      </div>
    </form>
  </div>
</div>

{%end%}